# Ignore node_modules directory
node_modules/

# Ignore build output directory
build/

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore macOS system files
.DS_Store

# Ignore editor-specific files
.vscode/
.idea/

# Ignore npm debug log
npm-debug.log

# Ignore yarn error log
yarn-error.log

# Ignore environment-specific files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore dependencies
lazy-lock.json
package-lock.json
yarn.lock
